version: "3.9"
 
services:
 
  user-service:
    build: .
    container_name: user-service
    ports:
      - "8002:8002"
    env_file:
      - .env.docker
    depends_on:
      - db
    networks:
      - auth-network
 
  db:
    image: postgres:15
    container_name: user-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: microservice_user_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network
 
volumes:
  postgres_data:
 
networks:
  auth-network:
 